<div class="date-container p-3 bg-yellow-400 border-yellow-50 fixed top-0 left-0 right-0 z-20 shadow-lg">
    <div class="container mx-auto">
        <div class="text-gray-800 flex-col md:flex-row flex justify-between items-center">
            <p class="md:text-2xl font-bold mb-3 md:mb-0">
                MY COVID-19 Data
            </p>
            <div class="flex items-center">
                <div class="mr-2">
                    <label for="date" class="hidden md:inline-block">Tarikh :</label>
                    <input type="date" id="date" value="{{date}}" class="border-white shadow-sm">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mx-auto pt-30 pb-3">
    <div class="grid grid-cols-12 gap-3">
        <div class="hidden shadow-md md:block col-span-12 md:col-span-12 widget bg-blue-100 md:px-12 md:py-8 border-2 border-blue-800 map-container relative">
            <div id="state-data" class="absolute top-0 left-0 z-10 bg-white py-1 px-4 bg-opacity-90 hidden text-gray-700">
                <p class="lead text-xl font-bold" id="stateOut"></p>
                <div class="grid grid-cols-2 gap-2 gap-y-0">
                    <div class="md:col-span-1">
                        <p class="text-sm font-semibold">Baru</p>
                    </div>
                    <div class="md:col-span-1 text-right">
                        <span class="hidden new-trend-up text-red-800">▲</span>
                        <span class="hidden new-trend-down text-green-800">▼</span>
                        <p class="text-sm inline" id="newOut">0</p>
                    </div>
                    <div class="md:col-span-1">
                        <p class="text-sm font-semibold">100K</p>
                    </div>
                    <div class="md:col-span-1 text-right">
                        <p class="text-sm inline" id="normalizedOut">0</p>
                    </div>
                    <div class="md:col-span-1">
                        <p class="text-sm font-semibold">Rt</p>
                    </div>
                    <div class="md:col-span-1 text-right">
                        <span class="hidden rt-trend-up text-red-800">▲</span>
                        <span class="hidden rt-trend-down text-green-800">▼</span>
                        <p class="text-sm inline" id="rtOut">0</p>
                    </div>
                </div>
            </div>
            <div id="malmap">
                {{> malmap}}
            </div>
        </div>

        <div class="col-span-12 md:col-span-4 widget number-stat shadow-md">
            <p class="text-2xl">
                {{stats.new}}
                {{#stats.newTrend}}
                    <span class="text-red-800">▲</span>
                {{/stats.newTrend}}
                {{^stats.newTrend}}
                    <span class="text-green-800">▼</span>
                {{/stats.newTrend}}

            </p>
            <p class="follow">
                Kes Baru
            </p>
        </div>

        <div class="col-span-12 md:col-span-4 widget number-stat shadow-md">
            <p class="text-2xl">
                {{stats.per100k}}
            </p>
            <p class="follow">
                Kes / 100k
            </p>
        </div>

        <div class="col-span-12 md:col-span-4 widget number-stat shadow-md">
            <p class="text-2xl">
                {{stats.rt}}
                {{#stats.rtTrend}}
                    <span class="text-red-800">▲</span>
                {{/stats.rtTrend}}
                {{^stats.rtTrend}}
                    <span class="text-green-800">▼</span>
                {{/stats.rtTrend}}
            </p>
            <p class="follow">
                Rt
            </p>
        </div>

        <div class="col-span-12 md:col-span-12 widget shadow-md">
            <div class="bg-blue-900 p-3 text-white md:flex md:justify-between">
                <p class="text-xl hidden md:block">
                    Carta Data Covid
                </p>

                <div class="text-black flex justify-evenly">
                    <select class="text-lg w-32 mr-2" id="chart-duration">
                        <option value="-60">60 Hari</option>
                        <option selected value="-30">30 Hari</option>
                        <option value="-14">14 Hari</option>
                        <option value="-7">7 Hari</option>
                    </select>
                    <select class="text-lg w-32 mr-2" id="chart-type">
                        <option selected value="case">Kes Baru</option>
                        <option value="per100k">Kes / 100K</option>
                        <option value="rt">Rt</option>
                    </select>
                </div>
            </div>
            <div class="bg-white p-3 pt-5">
                <canvas id="chart"></canvas>
                <div class="flex justify-end">
                    <button id="toggle" type="button" class="bg-gray-200 text-lg px-3 mr-3">
                        ⟳
                    </button>
                </div>
            </div>
        </div>

        <div class="col-span-12 md:col-span-7 widget shadow-md bg-white pt-2 px-0 pb-0">
            <div id="datatable"></div>
        </div>

        <div class="col-span-12 md:col-span-5 widget shadow-md bg-white p-0">
            <a class="twitter-timeline" data-height="706" href="https://twitter.com/zuljzul/lists/1398863164893110272?ref_src=twsrc%5Etfw">Malaysia Covid Twitter List</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
</div>